<!--grid-->
<div class="w-full p-8 flex flex-col items-center flex-grow">
  @if (products$ | async; as products) {
  <ng-container>
    <div class="shadow-2xl rounded-lg bg-white w-full max-w-6xl">
      <div class="overflow-x-auto rounded-lg">
        <table class="min-w-full rounded-lg">
          <thead>
            <tr
              class="bg-gradient-to-r from-purple-500 to-indigo-600 text-white"
            >
              @for (col of columns; track col) {
              <th
                class="py-4 px-6 text-left font-semibold text-lg tracking-wide"
              >
                {{ col }}
              </th>
              }
            </tr>
          </thead>
          <tbody class="max-h-96 overflow-y-auto">
            @for (el of products; track el) {
            <tr
              (click)="navigateToDetail(el.id)"
              class="hover:bg-indigo-100 transition-colors duration-300 cursor-pointer"
            >
              <td class="py-4 px-6 border-b border-gray-200 text-gray-700">
                {{ el.title }}
              </td>
              <td class="py-4 px-6 border-b border-gray-200 text-gray-700">
                {{ el.category }}
              </td>
              <td class="py-4 px-6 border-b border-gray-200 text-gray-700">
                {{ el.description }}
              </td>
              <td class="py-4 px-6 border-b border-gray-200">
                <img
                  class="object-cover rounded-md shadow-lg"
                  [ngSrc]="el.image"
                  width="300"
                  height="300"
                />
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  } @else {
  <h2>Loading...</h2>
  }
</div>
