<!--footer-->
<div
  class="bg-gradient-to-r from-purple-500 to-indigo-600 text-white py-3 px-5 sm:py-5 sm:px-10 mt-10"
>
  <div
    class="container mx-auto flex flex-col sm:flex-row justify-between items-center text-xs sm:text-sm"
  >
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-5 mb-3 sm:mb-0">
      <a href="#" class="hover:underline transition duration-300"
        >Privacy Policy</a
      >
      <a href="#" class="hover:underline transition duration-300"
        >Terms of Service</a
      >
      <a href="#" class="hover:underline transition duration-300">Contact Us</a>
    </div>
    <div>&copy; 2024 Ecom Store. All rights reserved.</div>
  </div>
</div>
