<!--header-->
<div
  class="p-5 bg-gradient-to-r mb-10 from-purple-500 to-indigo-600 flex justify-between items-center font-semibold text-white shadow-lg"
>
  <div class="flex gap-5">
    <a href="#" class="hover:underline transition duration-300">Purse</a>
    <a href="#" class="hover:underline transition duration-300">Jackets</a>
    <a href="#" class="hover:underline transition duration-300">New Arrivals</a>
  </div>
  <div class="text-2xl tracking-wider">Ecom Store</div>
  <div class="flex gap-5 items-center">
    <a href="#" class="hover:underline transition duration-300">Return</a>
    <a href="#" class="hover:underline transition duration-300">Stores</a>
    <button
      (click)="goBack()"
      class="flex items-center gap-2 bg-white text-indigo-600 hover:bg-gray-100 transition duration-300 px-4 py-2 rounded-full shadow-lg transform hover:scale-105"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"
        ></path>
      </svg>
      <span class="hidden md:inline">Back</span>
    </button>
  </div>
</div>
